
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
}

.desktop {
	height: 100%;
	position: relative;
}
.taskbar {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 28px;
	display: flex;
	flex: 1;
}
.taskbar > * {
	display: inline-block;
}
.taskbar button {
	height: 22px;
	margin: 3px;
	padding: 2px !important;
	line-height: 14px;
}
.taskbar button * {
	vertical-align: middle;
}
.tasks {
	display: flex;
	flex: 1;
}
.task {
	max-width: 200px;
	width: 50%;
	text-align: left;
}
.task img {
	padding-right: 4px;
}
.desktop,
.taskbar,
.start-button,
.tasks,
.task,
.window,
.window-titlebar,
.window-title {
	cursor: default;
	user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.window-titlebar .icon {
	vertical-align: bottom;
}
.window-content {
	margin: 0;
	padding: 0;
}
.desktop-left {
	width: 10%;
	height: 90%;
	display: block;
	float: left;
	position: absolute;
	top: 2%;
	left: 5px;
}
.desktop-right {
	width: 90%;
	height: 95%;
	display: block;
	float: right;
	position: relative;

}
.desktop-right .window{
	position: relative;
	left: 3%;
	width: 94%;
	height: 95%;
	top: 2%;
	display: block;
}
.desktop-right .window.small{
	position: absolute;
	left: 0%;
	width: 60%;
	height: 60%;
	top: 0%;
	float: left;
	display: flex;
	flex-direction: column;
}

.window-list{
	background: white;
	width: 100%;
	margin: 0 auto;
	overflow-y: scroll;
	display: inline-block;
	border-width: 2px;
	border-style: ridge groove groove ridge;
	border-color: #7f787f #fff8ff #fff8ff #7f787f;
}
.window-list.left{
	width: 30%;
	font-size: small;
	padding-left: 6px;
}

.window-list.left .folder-list{
	list-style: none;
	padding:0;
	background: transparent url(../images/icons/pixel-alt.png) repeat-y 15px 0;
}
.window-list.left .folder-list li{
	padding: 0 0 0 2px;
}
.window-list.left .folder-list ul{
	list-style: none;
	padding:0;
}
.window-list.left .folder-list li ul li {
	background: transparent url(../images/icons/pixel-alt.png) repeat-x 0 8px;
	margin: 4px 0 4px 13px;
	padding: 0 0 0 20px
}
.window-list.left .folder-list li a{
	background: white;
	display: block;
	text-decoration: none;
	color: #000000;
}
.window-list.right{
	width: 67%;
}
.window-body{
	background: #c0c0c0;
	flex: auto;
	display: flex;
}

.window-footer .left,.window-footer .right {
	border: 1px solid;
	border-color: #888888 #dadada #dadada #888888;
	display: inline-block;
	margin-left: 0.5%;
	padding: 1px 1px;
	font-size: xx-small;
}
.window-footer .left {
	width: 33%;
}
.window-footer .right {
	width: 64%;
}
.window .page-frame{
	background: white;
	width: 99%;
	height: 94%;
}
.desktop-icon {
	display: table-row;
	vertical-align: bottom; 
	margin: 5px;
	text-align: center;
	width: 100px; 
	height: 80px;
}
.desktop-icon .icon-wrapper {
	display: inline-block;
	vertical-align: bottom; /* with inline-block, always */
	position: relative;
}
.desktop-icon .title {
	line-height: 1;
	max-height: 2em;
	text-overflow: ellipsis;
}

/* Fix dragging things (like windows) over iframes */
.drag iframe {
	pointer-events: none;
}

.marquee {
	pointer-events: none;
}

.menus {
	display: flex;
	flex: 0 0 auto;
	background: #c0c0c0;
}
.menu-container {
	position: relative;
}
.menu-popup {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 4;
	box-sizing: border-box;
}
.menu-popup-table {
	border-collapse: collapse;
}
.menu-item {
	white-space: nowrap;
}
.menu-hr {
	display: block !important;
	height: 0;
	width: auto;
}
.menu-hotkey {
	display: inline !important;
}
.menu-item-checkbox-area,
.menu-item-submenu-area {
	min-width: 16px;
}
.menu-item-checkbox-area,
.menu-item-submenu-area {
	text-align: center;
}

.window-title {
	display: inline-block !important;
	margin: 0;
	padding: 0;
}
.window-close-button {
	display: inline-block !important;
	float: right;
	width: 15px;
	height: 15px;
}
.window-close-button:before {
	content: '×';
	position: relative;
}

.window-content .button-group {
	width: 85px;
}
.window-content .button-group > button {
	width: 95%;
	padding: 3px 5px;
}

::before, ::after {
	pointer-events: none;
}

.cursor-bully * {
	cursor: inherit !important;
}
.loading-program * {
	cursor: progress;
}
