<div id="blog_window" class="window" touch-action="none" display="none">
    <div class="window-titlebar" touch-action="none">
        <img class="icon" draggable="false" src="images/icons/notepad-16x16.png">
        <span class="window-title">Blog.txt - Notepad</span>
        <button id="blog-window-close" class="window-close-button window-button button"></button>
    </div>
    <div class="window-content">
        <iframe allowfullscreen="" src="/blog/index.html" class="page-frame" id="blog_frame">
        </iframe>
    </div>
</div>