<div id="category_window" class="window small" touch-action="none" style="display: none;">
    <div class="window-titlebar" touch-action="none">
        <img class="icon" draggable="false" src="images/icons/find-folder-16x16.png">
        <span class="window-title">Exploring - My blog</span>
        <button class="window-close-button window-button button"></button>
    </div>
    <div class="menus" touch-action="none">
        <div class="menu-container">
            <div class="menu-button file-menu-button" tabindex="-1">
                <a class="menu-button-link" href="/blog/index.html"> <span class="menu-hotkey">F</span>ile</a>
            </div>
        </div>
        <div class="menu-container">
            <div class="menu-button file-menu-button" tabindex="-1">
                <a class="menu-button-link" href="/blog/index.html"> <span class="menu-hotkey">T</span>ools</a>
            </div>
        </div>
        <div class="menu-container">
            <div class="menu-button file-menu-button" tabindex="-1">
                <a class="menu-button-link" href="/blog/index.html"> <span class="menu-hotkey">H</span>elp</a>
            </div>
        </div>
    </div>
    <div class="window-body">
        <div class="window-list left">
            <ul class="folder-list">
                {% for tag in site.data.category.tags %}
                <li><a href="#"><img src="{{tag.icon_url}}"> {{tag.title}}</a>
                    {% if tag.child %}
                    <ul>
                        {% for child in tag.child %}
                        <li><a href="#" class="category_tag" category_name="{{child.category}}" title="{{child.title}}"><img src="{{child.icon_url}}"> {{child.title}}</a></li>
                        {% endfor %}
                    </ul>    
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="window-list right">

            <ul id="cat_post_list" class="folder-list file-list">
                {% for post in site.posts %}
                <li class="cat_post" category="{{ post.categories }}" ><a href="#" class="cat_post_ref" post_url="{{ post.url }}" title="{{ post.title }}"><img src="images/icons/notepad-file-16x16.png"><span class="cat_post_title"> {{ post.date | date_to_string }} {{ post.title }}</span></a></li>
                {% endfor %}
            </ul>

        </div> 
    </div>
    <div class="window-footer">
        <div id="category_post_num" class="left"> {{site.posts | size}} object(s)</div>
        <div class="right">&nbsp;</div>
    </div>
</div>