<div id="terminal_window" class="window small" touch-action="none" style="display: none;">
	<div class="window-titlebar" touch-action="none">
		<img class="icon" draggable="false" src="images/icons/terminal-16x16.png">
		<span class="window-title"> 命令提示符</span>
		<button class="window-close-button window-button button"></button>
	</div>
	<div class="window-content black">
		<p>{{ site.data.infos.site_name}} [版本 1.1.26]</br>
			(C) 版权所有 {{ site.url}}
		</p>
		<p>c:\> c:\infos\about_me</p>
		<p>{{ site.data.infos.about_me }}</p>>
		<p>c:\> </p>>
		
		
	</div>
</div>